name: Test
on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Run tests
      run: ./utils/test/run.sh
      env:
        DOCKER_IMAGE: "ghcr.io/luanti-org/luanti:master"

